*{padding: 0;
  margin: 0;
  text-decoration: none;
}
  .box{
    zoom:1;
  }
  .box:after{
    content: '';
    display: block;
    clear: both;
  }

.lhatop{
  width:100%;
  height:5.0rem;
  background-color: red;
  text-align: left
}
.top div {
  width: 3.125rem;
  line-height: 4.375rem;
  display: inline-block;
  font-size: 26px;
}
#topImg{
  margin-top: 0.625rem;
  height: 4.375rem;
  line-height: 4.375rem;
  margin-left: 0.9375rem
}
#topImg img{
  width: 2.0rem;
  height: 2.1875rem;
  margin-top:-0.625rem;
}
#topLeft{
  margin-left: -0.9375rem;
  height: 4.375rem;
  line-height: 4.375rem;
  width: 6.25rem;
  color: #FFFFFF;
  font-size: 1.625rem;
  font-weight: bold;
}

#topShoppingCart{
  margin-top: 1.3125rem;
  margin-right: 1.25rem;
  width: 2.1875rem;
  height: 2.1875rem;
  float: right;
  line-height: 2.1875rem;
}
#topShoppingCart img{
  width: 100%;
}
#topUser{
 width: 2.1875rem;
 height: 2.1875rem;
 margin-top: 1.3125rem;
 margin-right: 1.5rem;
 float: right;
 line-height: 2.1875rem;
}
#topUser img{
 width: 100%;
}

.imgbox{width:100%;height:100%;margin:0 auto;overflow:hidden;}
.imgbox ul{width:300%;height: 100%;}
.imgbox ul li{float:left;width:31.25rem;height:100%;text-align:center;}
.imgbox ul li img{width:100%;height:100%;}




#detailsp1{
  height: 1.6875rem;
  font-size: 1.5rem;
  line-height: 1.7rem;
  vertical-align: middle;
  margin-top: 1.125rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 98%;
  text-indent:1.25rem
}

#detailsp2{
  margin-top: 1.25rem;
  vertical-align: bottom;
  line-height: 1.25rem;
  display: block;
  color: #0c79cc;
  font-weight: bold;
  margin-left: 0.9375rem;
  font-size: 1.875rem;
  padding-bottom:0.625rem;
}
#detailsp3{
  line-height: 2.1875rem;
  font-size: 1.375rem;
  height: 2.1875rem;
  margin-left: 0.9375rem;
  color: #666;
  margin-bottom:  0.9375rem;
}
#detailsp3L{
  background: url(../../../img/24690.png) no-repeat left center;
  padding-left: 3.0rem;
  line-height: 2.1875rem;
  display: inline-block;
}
#detailsp3R{
  background: url(../../../img/24689.png) no-repeat left center;
  padding-left: 3.0rem;
  margin-left: 1.375rem;
  line-height: 2.1875rem;
  display: inline-block;
}
#detailscolor{
  width: 100%;
  font-size: 24px;
  line-height: 18px;
  margin:  0.9375rem 0 ;
  border-top: 1px #eee solid;
}
#detailscolor h3{
  text-indent:1.25rem;
  padding: 0.3125rem 0;
}
#detailsUl{
  float: left;
  width: 99%;
  margin-top: 0.625rem;
  font-size: 0.625rem;
  text-align: center;
  border-bottom:  1px #eee solid;
  padding-bottom: 1.25rem;
}
#detailsUl li{
  width: 3.75rem;
  height: 3.75rem;
  display: inline-block;
  border-radius: 0.3125rem;
  line-height: 3.75rem;
}
#Number{
  text-indent:1.25rem;
}
#Number input{
  width: 2.5rem;
  height: 2.5rem
}
.dataaimg{
width: 100%;
margin-bottom: 0.625rem
}
.dataaimg img{
  width: 100%;
}
.detailsIntroduce{
  margin-top: 0.9375rem;
  font-size: 0.8125rem;
  line-height: 1.3125rem;
  padding: 0px 0.8125rem;
}
.detailsIntroduce h2{
  text-align: center;
  margin-top: 0.625rem
}


#Fixed{
  width: 100%;
  height: 4.375rem;
  line-height: 4.375rem;
  vertical-align: middle;
  position: fixed;
  z-index: 88888888;
  bottom: 0px;
  color: #fff;
  background: #60a9d7;
  font-size: 1.375rem;
  border-color: #60a9d7;
  text-indent: 6.5rem;
}

#FixedL{
  width: 50%;
  /*background-color: yellow;*/
  position: fixed;
}
#FixedL img{
  width:2.0rem;
  width: 2.0rem;
  position: absolute;
  left: 3.125rem;
  top:1.25rem;
}
#FixedR{
    width: 50%;
  left: 50%;
  position: fixed;
  /*background-color: red*/
}
#FixedR img{
  position: absolute;
  left: 3.125rem;
  top:1.25rem;
   width:2.0rem;
  width: 2.0rem;
}














