*{padding: 0;
  margin: 0;
  text-decoration: none;
}

body{width: 100%;height: 121.875rem}

.lhatop{
  width:100%;
  height:5.0rem;
  background-color: red;
  text-align: left
}
.lhatop div {
  width: 3.125rem;
  line-height: 4.375rem;
  display: inline-block;
  font-size: 26px;
}
#topImg{
  margin-top: 0.625rem;
  height: 4.375rem;
  line-height: 4.375rem;
  margin-left: 0.9375rem
}
#topImg img{
  width: 2.0rem;
  height: 2.1875rem;
  margin-top:-0.625rem;
}
#topLeft{
  margin-left: -0.9375rem;
  height: 4.375rem;
  line-height: 4.375rem;
  width: 6.25rem;
}
#topLeft a{
  color: #FFFFFF;
  font-size: 1.625rem;
  font-weight: bold;
}
#topCenter{
 height: 4.375rem;
 line-height: 4.375rem;
 width: 6.25rem;
 text-align:center;
 margin-left:1.5625rem;
}
#topRight{
  float: right;
  margin-right: 1.25rem;
  height: 4.375rem;
  line-height: 4.375rem;
  margin-top:0.4375rem;
}
#topRight a{
  color: #FFFFFF;
  font-size: 1.625rem;
  font-weight: bold;
}
.top div a{
  color: #FFFFFF;
  font-size: 1.625rem;
  line-height: 5.0rem;
}

.coordinat{
  width: 100%;
}
.coordinat > div{
  position: relative;

}
.coordinat > div> .lhaType{
  position: absolute;
  top: -2.6875rem;
  left: 1.5625rem;
}
.coordinat div{
  width: 50%;
  box-sizing: border-box;
  height: 11.5625rem;
  background: url('../../../img/104999.jpg');
  background-size: 100%;
  float: left;
  text-align: center;
  line-height:11.5625rem;
}
